<section id="column" class="c-column p-scroll">
  <div class="l-container--1030px">
    <h2 class="c-column__heading">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./assets/img/column/column_headingcover_mobile.jpg"
        />

        <img
          class="c-column__headingimg u-scalehalf"
          src="./assets/img/column/column_headingcover.jpg"
          alt="日々の暮らしにお役立ち「ハッカ油コラム」へ"
        />
      </picture>
    </h2>
    <div class="c-column__list l-container--860px">
      <% columns.forEach(column => { %>
      <div class="c-column__articleblock">
        <div class="c-column__article">
          <a href="#">
            <div class="c-column__header">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="./assets/img/column/column_<%= column.id %>_mobile.png"
                />

                <img
                  class="c-column__headerimg"
                  src="./assets/img/column/column_<%= column.id %>.jpg"
                  alt="column.title"
                />
              </picture>
              <div class="c-column__headerheading">
                <p
                  class="c-column__headerheadingp u-black333text u-spacing--1p4px"
                >
                  <%= column.titleNote %>
                </p>
                <h3
                  class="c-column__headerheadingh3 c-column__title u-black333text"
                >
                  <%= column.title %>
                </h3>
              </div>
            </div>
          </a>
          <div class="c-column__description is-sphidden">
            <p class="u-black333text is-sphidden"><%= column.description %></p>
            <div class="is-sponly c-column__seemoreblock">
              <a href="#" class="c-column__seemore">詳しく見る</a>
            </div>
          </div>
        </div>
        <div class="is-pconly">
          <img
            class="c-column__arrow"
            src="./assets/img/column/column_arrow.png"
            alt="go-to arrow"
          />
        </div>

        <div class="c-column__sparrowblock c-info__overlay--flex is-sponly">
          <img
            class="c-column__sparrow is-sponly u-scalehalf"
            src="./assets/img/column/column_arrow_mobile.png"
            alt="go-to arrow"
          />
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
