<section id="info" class="c-info">
  <div class="c-info__content l-container p-scroll">
    <div class="c-info__points l-container--1030px">
      <% if (typeof info != 'undefined') { %> <%
      info.points.pointNumbers.forEach(pointNumber => { %>
      <div class="c-info__pointblock">
        <div class="c-info__pointheading">
          <div class="c-info__number">
            <img
              class="c-info__numberimg"
              src="<%= pointNumber.url %>"
              alt="<%= pointNumber.title %>"
            />
            <hr class="c-info__linebreak" />
            <label class="c-info__label">POINT</label>
          </div>
          <div class="c-info__headingcontent u-width--420px">
            <h2 class="c-info__bigheading u-greentext">
              <%= pointNumber.title %>
            </h2>
            <p class="c-info__smallheading is-pconly">
              <%= pointNumber.description %>
            </p>
            <p class="c-info__smallheading is-pconly">
              <%= pointNumber.description2 %>
            </p>
          </div>
          <p class="c-info__smallheading is-sponly">
            <%= pointNumber.description %>
            <span
              class="c-info__smallheading is-sponly c-info__smallheading--aligned"
            >
              <%= pointNumber.description2 %>
            </span>
          </p>
        </div>

        <div class="c-info__images c-info__image<%= pointNumber.id %>">
          <% pointNumber.pointImages.forEach(pointImage => { %>
          <div class="c-info__imagecontainer">
            <img
              class="c-info__image"
              src="<%= pointImage.url %>"
              alt="<%= pointImage.title %>"
            />
            <img
              class="c-info__more c-info__more<%= pointImage.point %>"
              src="./assets/img/point/point_more.png"
              alt="more"
            />
            <div class="c-info__overlay">
              <h3
                class="c-info__overlayheading c-info__overlayheading<%= pointNumber.id %> u-greentext"
              >
                <%= pointImage.title %>
              </h3>
              <hr class="c-info__overlaylinebreak" />
              <p class="c-info__overlaydescription">
                <%= pointImage.description %>
              </p>
              <label
                class="c-info__overlaylabel c-info__overlaylabel<%= pointNumber.id %> u-whitetext"
                ><a href="#column">ハッカ油コラムへ</a>
              </label>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <% }) %> <%} %>
    </div>
    <!-- Brand -->
    <!-- ********************* -->
    <div class="c-info__brand l-container">
      <h2 class="c-info__brandheading u-greentext">
        お買い求めは全国のドラッグストア<br
          class="is-sponly"
        />、またはこちらから
      </h2>
      <div class="c-info__brandlogos">
        <% info.brands.forEach(brand => { %>
        <a href="#" target="_blank"
          ><img
            class="c-info__brandlogo"
            src="<%= brand.url %>"
            alt="お買い求めは全国のドラッグストア、またはこちらから"
        /></a>

        <%}) %>
      </div>
      <p class="c-info__brandnote u-black333text">
        Amazon、Amazon.co.jp、及びAmazon.co.jpロゴはAmazon.com,
        Inc.又はその関連会社の商標です。
      </p>
    </div>
  </div>
</section>
